---
layout: default
---

<div class="flex center wrapper">
  <div class="content flex center column">
    <img
      src="{{ '/assets/img/exun-logo.png' | relative_url }}"
      alt="Exun Clan"
      style="height: 10vh; width: auto;"
    />
    <h2 style="margin: 30px 0; text-align: center; padding: 10px;">
      Exun Clan Learning Resources
    </h2>
    <p style="margin: 0 auto; color: #666; padding: 0 20px; text-align-last: center;">
      An archive of resources assembled by current Exun members and alumni to
      help newcomers navigate the fields of <a href="{{ "/webd" | relative_url }}">Web Development</a>, <a href="{{ "/design" | relative_url }}">Design</a>,
      <a href="{{ "/programming" | relative_url }}">Programming</a>, <a href="{{ "/quizzing" | relative_url }}">Quizzing</a> and <a href="{{ "/ling" | relative_url }}">Computational&nbsp;Linguistics</a>.
    </p>
  </div>
</div>
